<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/senaGreen.png" type="image/x-icon">
    <link rel="stylesheet" href="../csss/bootstrap/css/bootstrap.min.css">
    <title>Movimientos</title>
</head>
<body>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="entradas.php">Entradas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="salidas.php">Salidas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="cambios.php">Cambios</a>
        </li>
      </ul>

      <div class="container text-center">
        <div class="row">
          <div class="col-10">
            Column
          </div>
          <div class="col">
            Column
          </div>
          <div class="col">
            Column
          </div>
        </div>
      </div>

      <div class="container-fluid text-center">
        <div class="row">
          <div class="col-10 ">
            <H2 class="text-success">Relacione los elementos para la entrega</H2>
          </div>
          <div class="col ">
             <button>Lista</button> 
          </div>
        </div>
      </div>

      <!-- Script para los elementos select -->
<script type="text/javascript">
	$(document).ready(function(){
		$('#listaCat').val(1);
		recargarLista();

		$('#listaCat').change(function(){
			recargarLista(); 
		});
	})
</script>

<script type="text/javascript">
	function recargarLista(){
		$.ajax({
			type:"POST",
			url:"../controllers/addElements.controller.php",
			data:"categoria=" + $('#listaCat').val(),
			success:function(r){
				$('#select2lista').html(r);
			}
		});
	}
</script>

</body>
</html>