body {
    background-color: #cbc3c3;
}

.div1 {
    color: #633f3f;
    background-color: azure;
}

.div2 {
    color: #7d2626;
    background-color: #309446;
}

.div3 {
    color: #7b0c0c;
    background-color: #48a9a4;
}